
.all {
  background-color: aqua;
  padding: 10px 10px;

}
.all h3 {
  text-align: center;
  opacity: 0.6;
}

.textarea{
display: flex;
align-items: center;
margin-top: 10px;
}

.button{
  background-color: blueviolet;
  margin-left: 20px;
  cursor: pointer;
}

.newpost{
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  color: blueviolet ; opacity: 0.4;
}

.posts{
  margin-top: 5px;
}
  

  